<script type="text/javascript">
  $(function(){
    $('#adv-search-country').search_box({after: function(data_obj){
      //alert(data_obj.language_code)
      $('input[name=company[language_code]]').val(data_obj.language_code);
      $('input[name=company[currency_code]]').val(data_obj.currency_code);
    }});
  });
</script>
<form action="/sys/companies" method="post">
<table class="input-table">
  <tr>
    <td class="lt"><%=t "sys.company.code" %></td>
    <td class="rt"><input class="input-text input-60" name="company[code]" maxlength="20"/></td>
  </tr>
  <tr>
    <td class="lt"><%=t "sys.company.name" %></td>
    <td class="rt"><input class="input-text input-120" name="company[name]" maxlength="50"/></td>
  </tr>
  <tr>
    <td class="lt"><%=t "sys.company.full_name" %></td>
    <td class="rt"><input class="input-text input-240" name="company[full_name]" maxlength="200"/></td>
  </tr>
  <tr>
    <td class="lt"><%=t "sys.company.street" %></td>
    <td class="rt"><input class="input-text input-240" name="company[street]" maxlength="200"/></td>
  </tr>
  <tr>
    <td class="lt"><%=t "sys.company.city" %></td>
    <td class="rt"><input class="input-text input-120" name="company[city]" maxlength="50"/></td>
  </tr>
  <tr>
    <td class="lt"><%=t "sys.company.postal_code" %></td>
    <td class="rt"><input class="input-text input-60" name="company[postal_code]" maxlength="20"/></td>
  </tr>
  <tr>
    <td class="lt"><%=t "sys.company.country_code"%></td>
    <td class="rt">
      <div class="adv-search" id="adv-search-country"
        url="/sys/countries/page"
        pros="code"
        params="country[code]"
        name="company[country_code]"
        key="">
      </div>
    </td>
  </tr>
  <tr>
    <td class="lt"><%=t "sys.company.language_code"%></td>
    <td class="rt">
      <div class="adv-search adv-search-input"
        url="/sys/languages/page"
        pros="code"
        params="language[code]"
        name="company[language_code]"
        key="">
      </div>
    </td>
  </tr>
  <tr>
    <td class="lt"><%=t "sys.company.currency_code"%></td>
    <td class="rt">
      <div class="adv-search adv-search-input"
        url="/sys/currencies/page"
        pros="code"
        params="currency[code]"
        name="company[currency_code]"
        key="">
      </div>
    </td>
  </tr>
</table>
</form>